
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: gray;
    -fx-opacity: 20%;
}

.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent ;
}

.text-field {
    -fx-border-color: transparent;
    -fx-text-fill: blue;
    -fx-opacity: 45%;
}
.text-field:focused {
    -fx-opacity: 90%;
}

.list-view {
    -fx-background-color: slategray;
}