
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: gray;
    -fx-opacity: 20%;
}

.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent ;
}

.text-field {
    -fx-border-color: transparent;
    -fx-text-fill: blue;
    -fx-opacity: 45%;
}
.text-field:focused {
    -fx-opacity: 90%;
}

#file-list .list-cell {
    -fx-background-color: slategray;
    -fx-text-fill: lightgray;
    -fx-font: bold 16px "Calibri";
}

#file-list .list-cell:hover {
    -fx-background-color: #506070;
    -fx-text-fill: white;
}

#file-list .list-cell:pressed, #file-list .list-cell:selected {
    -fx-background-color: #304050;
    -fx-text-fill: white;
}

#image-view:focused {
    -fx-effect: dropshadow(one-pass-box, lightskyblue, 10, 1.0, 0, 0);
}

#menu-button {
    -fx-background-color: silver;
    -fx-border-color: silver;
}

#menu-button:pressed {
    -fx-effect: dropshadow(one-pass-box, gray, 3, 1.0, 0, 0);
    -fx-opacity: 75%;
}
#menu-button:focused {
    -fx-border-color: slategray;
}
#menu-button:hover {
    -fx-background-color: lightgray;
}

#tagPane{
    -fx-background-color: #CEE0ED;
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}

#tagInCloudPane{
    -fx-background-color: #ffd180;
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}

#removeTagButton{
    -fx-background-color: #CEE0ED;
    -fx-text-fill: #212121;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
}

#removeTagButton:hover{
    -fx-background-color: #ABC5D7;
}

#removeTagInCloudButton{
    -fx-background-color: #ffd180;
    -fx-text-fill: #212121;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
}

#removeTagInCloudButton:hover{
    -fx-background-color: #caa052;
}

