
#fabNotesWindow{
    -fx-background-color: #4fa191;
}




.split-pane:vertical > .split-pane-divider {
    -fx-background-color: gray;
    -fx-opacity: 20%;
}




.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent ;
}

.text-field {
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-opacity: 65%;
    /*-fx-prompt-text-fill: #bf5f82;*/
}
.text-field:focused {
    -fx-opacity: 90%;
}




#file-list .list-cell {
    -fx-background-color: slategray;
    -fx-text-fill: lightgray;
    -fx-font: bold 16px "Calibri";
}

#file-list .list-cell:hover {
    -fx-background-color: #506070;
    -fx-text-fill: white;
}

#file-list .list-cell:pressed, #file-list .list-cell:selected {
    -fx-background-color: #304050;
    -fx-text-fill: white;
}




#image-view:focused {
    -fx-effect: dropshadow(one-pass-box, lightskyblue, 10, 1.0, 0, 0);
}




#menu-button:pressed {
    -fx-effect: dropshadow(one-pass-box, gray, 3, 1.0, 0, 0);
    -fx-opacity: 75%;
}
#menu-button:focused {
    -fx-border-color: slategray;
}
#menu-button:hover {
    -fx-background-color: lightgray;
}




 #tabPane {
     -fx-background-color: #4fa191;
 }

 .tab-header-background {
     -fx-background-color: #8dbf9b;
 }

 #writingTab{
     -fx-background-color: #4fa191;
 }

 #paintingTab {
     -fx-background-color: #4fa191;
 }




 .button {
     -fx-background-color: #a2dbb2;
 }

 .button:hover {
     -fx-background-color: #bcffcf;
 }

 .combo-box {
     -fx-background-color: #a2dbb2;
 }

.combo-box:hover {
    -fx-background-color: #bcffcf;
}

 .toggle-button {
     -fx-background-color: #a2dbb2;
 }

.toggle-button:hover {
    -fx-background-color: #bcffcf;
}

.toggle-button:selected {
    -fx-background-color: #bcffcf;
}

.color-picker {
    -fx-background-color: #a2dbb2;
}

.color-picker:hover {
    -fx-background-color: #bcffcf;
}




#tagPane{
    -fx-background-color: #a2dbb2;
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}

#removeTagButton{
    -fx-background-color: #a2dbb2;
    -fx-text-fill: #212121;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
}

#removeTagButton:hover{
    -fx-background-color: #8dbf9b;
}

#tagInCloudPane{
    -fx-background-color: #a2dbb2;
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}

#removeTagInCloudButton{
    -fx-background-color: #a2dbb2;
    -fx-text-fill: #212121;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
}

#removeTagInCloudButton:hover{
    -fx-background-color: #8dbf9b;
}
